<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    1. import spring  coord, spring-context, ver: 6.1.10 -->

    <!--    configure bean-->
    <!--    id is for bean name -->
    <!--    class belongs to which class( the type of bean)-->
    <!--    bean can use alias, the alias can have several and separate by space, comma -->
    <!-- ref can also refer to both id and name -->
    <!--    //Beam default to generate single instances -->
    <!--    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy"/>-->
    <bean id="bookService" class="org.example.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>
    <!--    another way for bean initialization-->
    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl"/>

    <!--    scope is default to singleton which means only 1 instances, prototype allow several instance-->
    <!--    sping is designed to work for singleton-->
    <!--    表现层对象，services object， data object and tools object are good to use Bean to manage-->

    <!-- Method 2: Create a bean using a static factory method -->
    <!-- Equivalent to: OrderDaoFactory.getOrderDao() -->
    <!--    <bean id="orderDao" class="org.example.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!--  Method3:  Create a bean using an instance factory method.
     Spring first creates the factory bean, then calls its factory method
     to create and manage the target bean -->
    <!--    <bean id="userFactory" class="org.example.factory.UserDaoFactory"/>-->
    <!--    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao"/>-->

    <!--  Method3:  Create a bean using an instance factory bean method. -->
    <bean id="userDao" class="org.example.factory.UserDaoFactoryBean"/>
</beans>
