<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--    1. import spring  coord, spring-context, ver: 6.1.10 -->

    <!--    configure bean-->
    <!--    id is for bean name -->
    <!--    class belongs to which class( the type of bean)-->
    <!--    bean can use alias, the alias can have several and separate by space, comma -->
    <!-- ref can also refer to both id and name -->
    <!--    //Beam default to generate single instances -->

    <!--    scope is default to singleton which means only 1 instances, prototype allow several instance-->
    <!--    sping is designed to work for singleton-->
    <!--    表现层对象，services object， data object and tools object are good to use Bean to manage-->

    <bean id="bookDao" class="org.example.dao.impl.BookDaoImpl" scope="singleton"/>
    <bean id="bookService" name="service service2 bookEbi" class="org.example.service.impl.BookServiceImpl">
        <!--Configure teh realtion of book Dao with Service   /-->
        <!--        property, ref means refer to which bean, name refer to a instance-->
        <property name="bookDao" ref="bookDao"/>

    </bean>

    <bean id="orderDao" class="org.example.factory.OrderDaoFactory" factory-method="getOrderDao"/>

</beans>
